/*This Custom CSS file has not been structured in any particular order. 

Modify this file to your hearts content and make your website look awesome!*/


body{
	background-image: linear-gradient(#FA8072, #40E8C9, #53E2FF);
	padding-top: 80px;
}

section{
	background-size: auto;
	background-repeat: no-repeat;
	background-color: #EFEFEF;
	padding: 0px 0px 50px 0px;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rules*/
img.nav-bar-img{
	margin-right: 10px;
}

.navbar{
	background-color: #fff;

}

a.navbar-brand{
	font-family:'Montserrat', Sans-Serif;
	font-size: 
}

/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 50px;
	border-left: 1px solid #727272;
}

	a.float-nav-link{
		font-family: 'Lato', Sans-Serif;
		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
	}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

#FRIENDBOTIMG{
	padding-bottom: 50px;
	padding-top: 50px;
}

#ThreeAreas{
	padding: 150px 70px 50px 70px;
}

#Stakeholders{
	padding: 30px 70px 100px 70px;
}

#OverviewProcess{
	padding: 50px 70px 50px 70px;
}

#Approach{
	padding: 25px 70px 170px 70px;
}

#USERFLOW{
	padding: 50px 70px 20px 70px;
}

#Storyboard{
	padding: 50px 70px 0px 70px;
}

#Iteration{
	padding: 90px 70px 50px 0px;
}

#IterationDiagram{
	padding: 150px 70px 100px 70px;
}

#Wireframes{
	padding: 50px 70px 150px 70px;
}

#StyleExploration{
	padding: 100px 70px 150px 70px;
}

#Solution1{
	padding: 100px 70px 150px 70px;
}

#Solution2{
	padding: 100px 70px 150px 70px;
}

#Solution3{
	padding: 100px 70px 150px 70px;
}

#Solution4{
	padding: 100px 70px 150px 70px;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Montserrat', Sans-Serif;
	margin-bottom: 20px;
	text-align: center;
}
	h1.welcome-special{
		font-size: 90px;
	}

	h2.welcome-special-sub{
		font-family: 'Lato', Sans-Serif;
		font-size: 30px;
	}

	h1{
		font-size: 90px;
		font-weight: bold;
	}

	h3{
		text-transform: uppercase;
		color: #414042 ;
		letter-spacing: -0.5px;
		font-size: 20px;
		font-weight: bold;
		text-align: left;
		padding-top: 100px;
		padding-left: 70px;
		padding-right: 0px;
	}

	h4{
		line-height: 30px;
		font-size: 18px;
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 30px;
	}

p, li, span, a {
	font-family: 'Lato', Sans-Serif;
	text-align: right;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #414042 ;
		line-height: 25px;
		margin-bottom: 25px;
	    font-size: 14px;
	    padding-bottom: 100px;
	    padding-left: 70px;

	}

	#exception{
		padding-bottom: 0px;
	}

	#StyleSection{
		padding-top: 200px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

/* Videos/Interactive Prototypes */
#Walkthrough{
	padding: 200px 0px 50px 170px;
}

#VideoDocumentation{
	padding: 30px 0px 100px 170px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 200px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: transparent;
	border-radius: 0px 0px 0px 0px;
	border: 3px solid #000;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading{
	padding-top: 50px;
	padding-left: 80px;
	padding-right: 80px;	
}

.section-heading{
	padding-top: 100px;	
	padding-left: 80px;
	padding-right: 80px;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

#Intro{
	text-align: center;
	font-size: 20px;
}

/* Slides (editting the icons to circular shape) of the carousel/slideshow */
#slide1 {
  height:20px !important;
  width: 20px !important;
  background-color: darkgrey !important;
  border-radius: 20px;
}

#slide2 {
  height:20px !important;
  width: 20px !important;
  background-color: grey !important;
  border-radius: 20px;
}

#slide3 {
  height:20px !important;
  width: 20px !important;
  background-color: black !important;
  border-radius: 20px;
}

#Round1Feedback1{
	background-color: white;
	padding: 20px;
}

#Round1Feedback2{
	background-color: lightgrey;
	padding: 20px;
}

#Round1Feedback3{
	background-color: grey;
	padding: 20px;
}


/*Footer*/
.footer{
	margin-top: 10px;
	padding-top: 30px;
	width: 100%;
	min-height: 10px;
	background-color: white;

}

#FooterNote{
	text-align: left;
}

